# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

.dep
.DS_Store
.vscode/ipch
*.lst
*.lss
*.sym
*.hex
*.eep
*.cof
*.elf
*.map
